body {
  background: #f2f4f8;
  /*display: flex;*/
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /*height: 100vh;*/
  font-family: "Open Sans";
}

#header {
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: inherit;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#nav {
  padding-top: 20px;
  width: 60%;
  margin: auto;
  align-items: center;
}

.identity {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.validation {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
  /*width: 90%;*/
  height: 121px;
  background: #fff;
  border-top-right-radius: 10px;
  /*overflow: hidden;*/
  /*display: flex;*/
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card img {
  width: 121px;
  height: 121px;
  float: left;
  border-right: solid thin silver;
  margin-right: 20px;
}

.card .content {
  /*float: right;*/
}

.card .content h1 {
  font-size: 14pt;
  margin: 0;
  padding: 0;
}

.card .content h2 {
  font-size: 7pt;
  margin: 0;
  padding: 0;
}

.card .content p {
  font-size: 9pt;
}

.card .card-footer {
  font-size: 7pt;
  position: absolute;
  bottom: 5px;
  right: 2px;
  color: gray;
}

#status {
  position: fixed;
  top: 10;
  right: 0;
  font-size: 8pt;
  color: gray;
  /*float: right;*/
  padding-right: 10px;
}

#search_address {
  /*border-radius: 5px;*/
  border-style: solid silver;
  border-width: 0px;
  font-size: 14pt;
  width: 40%;
  height: 50px;
  margin: 0;
  border: 0;
  padding: 0;
}

#search_btn {
  background-color: black;
  color: white;
  border: 0;
  margin: 0;
  font-size: 14pt;
  height: 50px;
  margin: 0;
  border: 0;
  padding: 0;
  width: 50px;
}

#search_btn svg {
  width: 16px;
}

#filter {
  width: 100%;
  text-align: left;
  margin: auto;
}

#block_type {
  background-color: silver;
  /*color: gray;*/
  font-size: 14pt;
  height: 50px;
  width: 150px;
  margin-right: -2.5;
  border: 0;
  padding-left: 10;
  border-right: solid thin silver;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 80% #ddd;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

#qrcode {
  width: 300px;
  /*height: 300px;*/
}

#checkmark {
  visibility: hidden;
}

#signers {
  position: fixed;
  right: 0;
  top: 50px;
  height: 100%;
  font-size: 14pt;
  width: 350px;
  background-color: white;
  overflow-wrap: break-word;
  overflow-y: scroll;
}